html, body {
  margin: 0;
  height: 100%;
}

:root {
  --main-color: #710200;
  --border-color: #483f44;
  --font-color: #b49901;
}

.title {
  font-family: 'Rubik Mono One', sans-serif;
  color: var(--main-color);
  font-size: 70px;
  width: 600px;
}


.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#start-button {
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 20px;
}

#last-session {
  border: none;
  background-color: transparent;
  cursor: pointer;
}