html, body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

:root {
  --main-color: #710200;
  --border-color: #483f44;
  --font-color: #b49901;
}

.bg-img {
  height: 100%;
  background-image: url('images/azeroth.webp');
  background-size: cover;
  filter: blur(3px);
  box-shadow: inset 0 0 0 2000px rgba(255, 254, 254, 0.13);
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 80%;
  padding: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.logo {
  height: 400px;
  position: relative;
}

.title {
  font-family: 'Rubik Mono One', sans-serif;
  color: black;
  font-size: 70px;
  width: 600px;
  top: 23%;
  position: absolute;
}



.start-screen p {
  font-family: 'Cinzel', serif;
  font-size: 30px;
  top: 38%;
  position: absolute;
}

#start-button {
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 20px;
  margin: 50px;
}

#last-session {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.game-info {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.hint-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.zone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input {
  width: 20px;
  padding: 5px;
  margin: 2px;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#submit {
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 20px;
}

#next {
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 20px;
}

.game-over {
  height: 100%;
}

.game-over h2 {
  text-align: center;
}

.death-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.record-score {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
