html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow-y: hidden;
  background-color: black;
}

:root {
  --main-color: #710200;
  --border-color: #383135;
  --font-color: #b49901;
  --font: "Cinzel", serif;
}

.bg-img {
  height: 100%;
  background-image: url("images/azeroth.webp");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  box-shadow: inset 0 0 0 2000px rgba(82, 51, 22, 0.637);
}

.start-screen {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 80%;
  padding: 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 2;
}

.logo {
  height: 400px;
  position: relative;
}

.title {
  font-family: "Rubik Mono One", sans-serif;
  color: black;
  font-size: 70px;
  width: 600px;
  top: 23%;
  position: fixed;
}

.flavor-text {
  font-family: var(--font);
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}

.instructions {
  font-family: var(--font);
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}

#start-button {
  font-family: var(--font);
  font-weight: bold;
  font-size: 25px;
  width: 250px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  margin-top: 30px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.9) inset;
  transition: 0.3s;
}

#start-button:hover {
  background-color: red;
}

#last-session {
  font-family: var(--font);
  font-weight: bold;
  font-size: 15px;
  margin: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

#last-session:hover {
  text-decoration: underline;
}

.game-info {
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  text-align: center;
  position: fixed;
  z-index: 2;
  top: 0%;
  width: 100%;
  font-family: var(--font);
  font-weight: bold;
  font-size: 25px;
  color: var(--font-color);
  background-color: rgba(0, 0, 0, 0.616);
}

.leaderboard {
  flex-direction: column;
  position: fixed;
  font-size: 20px;
  width: 260px;
  top: 20%;
  left: 80%;
  z-index: 3;
}

.leaderboard-button-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 5px;
}

#reveal-leaderboard {
  text-align: center;
  height: 25px;
  width: 35px;
  background-color: var(--main-color);
  color: var(--font-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9) inset;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  transition: 0.2s;
}

#reveal-leaderboard:hover {
  background-color: red;
}

.leaderboard-button-container p {
  padding: 0px;
  margin: 0px;
  font-family: var(--font);
  font-weight: bold;
}

#players {
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.616);
  color: var(--font-color);
  padding: 10px;
  font-family: var(--font);
}

#username {
  text-align: center;
  font-weight: bold;
}

#user-score {
  text-align: center;
  font-weight: bold;
}

.game-container {
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: var(--font);
  font-weight: bold;
  font-size: 20px;
  width: 90%;
}

.hint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#hint-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: black;
  font-family: var(--font);
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  padding: 3px;
}

#hint-button:hover {
  text-decoration: underline;
}

#hint-message p {
  margin: 0px;
  padding: 3px;
  font-size: 20px;
  font-style: italic;
}

.zone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#zone-screenshot {
  height: 500px;
  width: 889px;
  margin: 20px;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.56) 10px 10px 50px 0px,
    rgba(0, 0, 0, 0.56) 10px -10px 50px 0px, rgba(0, 0, 0, 0.56) -10px 10px 50px 0px,
    rgba(0, 0, 0, 0.56) -10px -10px 50px 0px;
}

#zone-name {
  position: fixed;
  top: 30%;
  background-color: #000000af;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

#input-fields {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#input {
  width: 20px;
  padding: 7px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #0000007e;
  color: white;
  font-family: var(--font);
  font-weight: bold;
  text-align: center;
}

#input:focus {
  outline: none;
  border: 2px solid black;
  padding: 6px;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#submit {
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-family: var(--font);
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.9) inset;
  padding: 2px;
  transition: 0.3s;
}

#submit:hover {
  background-color: red;
}

#next {
  justify-content: center;
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-family: var(--font);
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.9) inset;
  transition: 0.3s;
}

#next:hover {
  background-color: red;
}

.spirit-healer {
  height: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over {
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 2;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 5px;
  background-color: #000000b4;
  color: var(--font-color);
  font-family: var(--font);
  font-weight: bold;
}

.game-over h2 {
  text-align: center;
  font-size: 30px;
}

.death-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#play-button {
  font-family: var(--font);
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.9) inset;
  transition: 0.3s;
}

#play-button:hover {
  background-color: red;
}

#record-button {
  font-family: var(--font);
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.9) inset;
  transition: 0.3s;
}

#record-button:hover {
  background-color: red;
}

.record-score {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  position: fixed;
  z-index: 2;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  background-color: #000000b4;
  color: var(--font-color);
  font-family: var(--font);
  font-weight: bold;
  font-size: 20px;
}

#username-input {
  width: 300px;
  height: 20px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: #0000007e;
  color: white;
  font-family: var(--font);
  font-weight: bold;
  text-align: center;
  outline: none;
}

.submit-options {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

#save-button {
  font-family: var(--font);
  font-weight: bold;
  font-size: 15px;
  width: 120px;
  height: 30px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.9) inset;
  transition: 0.3s;
}

#save-button:hover {
  background-color: red;
}

#cancel {
  font-family: var(--font);
  font-weight: bold;
  font-size: 15px;
  width: 120px;
  height: 30px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.9) inset;
  transition: 0.3s;
}

#cancel:hover {
  background-color: red;
}

.end-screen {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  position: fixed;
  z-index: 2;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.success-message {
  font-family: var(--font);
  font-size: 40px;
}

.home-button {
  font-family: var(--font);
  font-weight: bold;
  font-size: 15px;
  width: 250px;
  height: 30px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.9) inset;
  transition: 0.3s;
}

.home-button:hover {
  background-color: red;
}

/* Smaller Screens */
@media screen and (max-width: 1075px) {
  .game-info {
    gap: 120px;
  }
}

@media screen and (max-width: 1000px) {
  .start-screen {
    top: 70%;
  }

  .logo {
    height: 350px;
  }

  .title {
    font-size: 60px;
    margin: 0px;
  }

  .flavor-text {
    font-size: 25px;
  }

  .instructions {
    font-size: 20px;
  }

  #zone-screenshot {
    height: 450px;
    width: auto;
  }

  .leaderboard {
    font-size: 20px;
    width: 200px;
  }

  .game-info {
    gap: 100px;
  }
}

/* Tablets */
@media screen and (max-width: 880px) {
  .game-info {
    gap: 70px;
    font-size: 20px;
  }

  #zone-screenshot {
    height: 400px;
    width: 689px;
  }

  .leaderboard {
    left: 75%;
    top: 10%;
  }

  #players {
    font-size: 15px;
  }
}

/* Mobile */
@media screen and (max-width: 700px) {
  .start-screen {
    top: 65%;
  }

  .logo {
    height: 320px;
  }
  
  .title {
    font-size: 45px;
  }

  .flavor-text {
    font-size: 20px;
  }

  .instructions {
    font-size: 15px;
  }

  .game-info {
    gap: 20px;
    font-size: 16px;
  }

  #zone-screenshot {
    width: 95%;
    height: auto;
  }

  .leaderboard {
    left: 70%;
  }

  #input {
    width: 10px;
    height: 10px;
  }

  #space {
    margin: 30px;
  }

  .game-over {
    width: 320px;
  }

  .record-score {
    width: 320px;
  }
}

@media screen and (max-width: 415px) {
  .start-screen {
    top: 65%;
  }

  .logo {
    height: 250px;
  }
  
  .title {
    font-size: 35px;
  }

  .flavor-text {
    font-size: 18px;
  }

  .instructions {
    font-size: 12px;
  }

  .game-info {
    gap: 18px;
    font-size: 14px;
  }

  #zone-screenshot {
    width: 95%;
    height: auto;
  }

  #zone-name {
    font-size: 12px;
  }

  .leaderboard {
    left: 44%;
    top: 10%;
    font-size: 15px;
  }

  #reveal-leaderboard {
    width: 20px;
    height: 20px;
    font-size: 10px;
    padding: 0px;
    text-align: center;
  }

  #hint-button {
    font-size: 15px;
  }

  #hint-message p {
    font-size: 15px;
  }

  #input-fields {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }

  #input {
    width: 9px;
    height: 9px;
    font-size: 10px;
  }

  #submit {
    margin: 25px;
  }

  #next {
    margin: 25px;
  }

  .success-message {
    font-size: 20px;
  }
}
