html, body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  background-color: black;
}

:root {
  --main-color: #710200;
  --border-color: #483f44;
  --font-color: #b49901;
  --font: 'Cinzel', serif;
}

.bg-img {
  height: 100%;
  background-image: url('images/azeroth.webp');
  background-size: cover;
  filter: blur(4px);
  box-shadow: inset 0 0 0 2000px rgba(82, 51, 22, 0.425);
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 80%;
  padding: 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}

.logo {
  height: 400px;
  position: relative;
}

.title {
  font-family: 'Rubik Mono One', sans-serif;
  color: black;
  font-size: 70px;
  width: 600px;
  top: 23%;
  position: absolute;
}

.start-screen p {
  font-family: var(--font);
  font-size: 30px;
  font-weight: bold;
  top: 38%;
  position: absolute;
}

#start-button {
  font-family: var(--font);;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  margin-top: 50px;
  box-shadow: 0 0 9px rgba(0,0,0,0.9) inset;
  transition: 0.3s;
}

#start-button:hover {
  background-color: red;
}

#last-session {
  font-family: var(--font);;
  font-weight: bold;
  font-size: 15px;
  margin: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

#last-session:hover {
  text-decoration: underline;
}

.game-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 0%;
  width: 100%;
  font-family: var(--font);
  font-weight: bold;
  font-size: 25px;
  color: var(--font-color);
  background-color: rgba(0, 0, 0, 0.616);
}

.game-container {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: var(--font);
  font-weight: bold;
  font-size: 20px;
  width: 90%;
}

.hint-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#hint-button {
  justify-content: center;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: 0 0 9px rgba(0,0,0,0.9) inset;
  transition: 0.3s;
  padding: 3px;
  width: 100px;
}

#hint-button:hover {
  background-color: red;
}

#hint-message {
  width: 100%;
}

#hint-message p {
  margin: 0px;
  font-size: 20px;
}

.zone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#zone-screenshot {
  height: 400px;
  margin: 20px;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.651) 0px 2px 4px 0px, rgba(0, 0, 0, 0.651) 0px 2px 16px 0px;;
}

#zone-name {
  position: absolute;
  top: 30%;
}

#input-fields {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#input {
  width: 20px;
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #0000007e;
  color: white;
  font-family: var(--font);
  font-weight: bold;
  text-align: center;
}

#input:focus {
  outline: none;
  border: 2px solid black;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#submit {
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 20px;
  box-shadow: 0 0 9px rgba(0,0,0,0.9) inset;
  padding: 2px;
  transition: 0.3s;
}

#submit:hover {
  background-color: red;
}

#next {
  justify-content: center;
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 20px;
  box-shadow: 0 0 9px rgba(0,0,0,0.9) inset;
  transition: 0.3s;
}

#next:hover {
  background-color: red;
}

.spirit-healer {
  height: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over {
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  background-color: #000000b4;
  color: var(--font-color);
  font-family: var(--font);
  font-weight: bold;
}

.game-over h2 {
  text-align: center;
}

.death-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#play-button {
  font-family: var(--font);;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: 0 0 9px rgba(0,0,0,0.9) inset;
  transition: 0.3s;
}

#play-button:hover {
  background-color: red;
}

#record-button {
  font-family: var(--font);;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: 0 0 9px rgba(0,0,0,0.9) inset;
  transition: 0.3s;
}

#record-button:hover {
  background-color: red;
}

.record-score {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  position: absolute;
  z-index: 2;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 10px;
  background-color: #000000b4;
  color: var(--font-color);
  font-family: var(--font);
  font-weight: bold;
}

#username-input {
  width: 60%;
  height: 20px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: #0000007e;
  color: white;
  font-family: var(--font);
  font-weight: bold;
}

.submit-options {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

#save-button {
  font-family: var(--font);;
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: 0 0 9px rgba(0,0,0,0.9) inset;
  transition: 0.3s;
}

#save-button:hover {
  background-color: red;
}

#cancel {
  font-family: var(--font);;
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  box-shadow: 0 0 9px rgba(0,0,0,0.9) inset;
  transition: 0.3s;
}

#cancel:hover {
  background-color: red;
}
