html, body {
  margin: 0;
  height: 100%;
}

:root {
  --main-color: #710200;
  --border-color: #483f44;
  --font-color: #b49901;
}

.title {
  font-family: 'Rubik Mono One', sans-serif;
  color: var(--main-color);
  font-size: 70px;
  width: 600px;
}


.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#start-button {
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 20px;
}

#last-session {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.game-info {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.hint-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.zone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input {
  width: 20px;
  padding: 5px;
  margin: 2px;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#submit {
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 20px;
}

#next {
  width: 200px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 20px;
}

.game-over {
  height: 100%;
}

.game-over h2 {
  text-align: center;
}

.death-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}